{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section >
   <div class="container">
   <div class="row">
{% if cat %}
{% for c in cat %}

 <div class="col-3">

<div class="card " style="padding-top: 15px;" >
  <img class="card-img-top" src="{{ c.photo.url }}" alt="Card image cap" height="300px" width="300px">
  <div class="card-body">
    <h5 class="card-title">{{ c.name }}</h5>
    <p class="card-text">{{ c.description }}</p>
    <a href="{% url 'food' c.id %}" class="btn btn-primary">see all</a>
  </div>
    </div>
</div>
{% endfor %}
</div>
    </div>
{% else %}
<h3> SORRY, There are no meals yet for the moment</h3>
{% endif %}
   </div>

</section>

{% endblock %}